<%= form_with(model: @invite, url: invites_path) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @invite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="actions w-100">
    <%= f.submit 'Send', class: "btn btn-primary w-100" %>
  </div>
<% end %>

