<%= bootstrap_form_with(model: trip, inline_error: false, 
                        label_errors:true ) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <% if params[:return_to].present? %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
  <% end %>
    <div class="my-2">
      <%= f.text_field :name, label_as_placeholder: true, 
        required: true %>
      <%= f.text_field :location, label_as_placeholder: true, 
        required: true %>
      <%= f.date_field :start_date, label_as_placeholder: true, 
        required: true %>
      <%= f.date_field :end_date, label_as_placeholder: true, 
        required: true %>

      <%= f.form_group :trip_image_id, label: { text: "Trip Thumbnail" } do %>
        <div class="d-flex flex-wrap gap-2 justify-content-center">
          <div>
            <%= image_tag 'trip-image-1.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 1, hide_label: true, checked: true %>
          </div>
          <div>
            <%= image_tag 'trip-image-2.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 2, hide_label: true %>
          </div>
          <div>
            <%= image_tag 'trip-image-3.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 3, hide_label: true %>
          </div>
          <div>
            <%= image_tag 'trip-image-4.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 4, hide_label: true %>
          </div>
          <div>
            <%= image_tag 'trip-image-5.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 5, hide_label: true %>
          </div>
          <div>
            <%= image_tag 'trip-image-6.png', style:"height: 80px" %>
            <%= f.radio_button :trip_image_id, 6, hide_label: true %>
          </div>
        </div>
      <% end %>


      <%= f.submit (controller.action_name == 'edit' ? 'Update' : 
                    'Create'), class: "btn btn-primary w-100 text-white" %>
      <%= link_to 'Back', 'javascript:history.back()',
        class: "btn btn-outline-secondary w-100 mt-2" %>
    </div>
<% end %>
