<%= form_with(model: trip, local: true, data: { controller: "places"}) do |form| %>
  <% if trip.errors.any? %>
    <div>
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true  %>
  </div>

  <div class="mb-3" data-controller="places" data-action="google-maps-callback@window->places#initMap">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, data_places_target: "input", id: "trip_location", class: "form-control", autocomplete: "off", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.date_field :start_date, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, class: "form-label" %>
    <%= form.date_field :end_date, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-success" %>
  </div>

<% end %>
