<div class="bg-white my-1 mx-4 lift-on-hover shadow card" style="width: 18rem; cursor: pointer" onclick="location.href='<%= trip_path(trip) %>'">

    <%= image_tag "trip-image-1.png", class: "rounded-top", style: "" %> 
    <div class="card-body">
      <div class="row">
        <h5 class="card-title pb-2 border-bottom"><%= trip.name.capitalize %></h5>
        <div class="row">
          <div class="col border-end">
            <%= trip.start_date.strftime("%b %d") %> - <%= trip.end_date.strftime("%b %d, %Y") %>
          </div>
          <div class="col">
            <%= trip.location %>
          </div>
        </div>
      </div>
    </div>

  <!-- Edit and Delete Links for Admins -->
  <% unless controller_name == 'trips' && action_name == 'index' %>">
    <% if admin_for_trip?(trip) %>
      <div class="col-auto">
        <div class="d-flex">
          <%= link_to edit_trip_path(trip), class: "text-info m-2" do %>
            <%= image_tag "pencil-square.svg", style: "width: 16px;" %> 
          <% end %>
          <%= button_to trip_path(trip), method: :delete, 
            class: "btn btn-link text-info m-2 p-0", 
            data: { turbo_confirm: "Are you sure?" }, 
            form_class: "d-inline" do %>
            <%= image_tag "x-lg.svg", style: "width: 16px;" %> 
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


