<li class="list-group-item bg-light card my-1 lift-on-hover rounded-4" 
  style="max-width: 650px;">
  <div class="row">
    <div class="col"  
      onclick="location.href='<%= trip_path(trip) %>'" 
      style="cursor: pointer">
      <%= link_to trip_path(trip), 
        class: "text-decoration-none text-secondary" do %>
        <h2 class: "h2 lead"><%= trip.name.capitalize %></h2>
      <% end %>
      <br>
      <p>
      <%= trip.start_date.strftime("%b %d") %> - 
      <%= trip.end_date.strftime("%b %d, %Y") %>
      </p>
    </div>

    <%# edit and delete links  %>

    <% if admin_for_trip?(trip) %>
      <div class="col">
        <div class="d-flex justify-content-end">
          <%= link_to edit_trip_path(trip), class: "text-info m-2" do %>
            <%= image_tag "pencil-square.svg" %> 
          <% end %>
          <%= button_to trip_path(trip), 
            method: :delete, class: "text-info text-decoration-none nav-link m-2", 
            data: { turbo_confirm: "Are you sure?" }, form_class: "d-inline" do %>
            <%= image_tag "x-lg.svg" %> 
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</li>

