<div class="" style="margin-top: 80px">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section class="my-2 p-3  bg-white rounded-4">
    <h4 class="display-5">Notes</h4>
    <%= render partial: 'notes/form' %>
    <ul class="">
      <%= render partial: "notes/notes_filter" %>
      <% if @all_notes.any? %> 
        <% @all_notes.each do |note| %>
          <%= render partial: "notes/note_card", locals: { note: note } %>
        <% end %>
      <% else %>
        <div class="card">
          <h5 class="lead p-2"> No notes yet...</h5>
        </div>
      <% end %>
    </ul>
  </section>

  <%= render partial: 'shared/trip_itinerary_footer' %>

</div>
