<%= bootstrap_form_with(url: login_path, scope: :user, inline_error: false, label_errors:true)  do |f| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if params[:invite_token].present? %>
    <%= f.hidden_field :invite_token, value: params[:invite_token] %>
  <% end %>

  <%= f.alert_message "Please fix the errors below." %>
  <div class="my-2">
    <%= f.email_field :email, 
      placeholder: 'Email', 
      label: 'Email', 
      required: true,
      label_as_placeholder: true%>
    <%= f.password_field :password, 
      placeholder: 'Password', 
      label: 'Password', 
      required: true, 
      label_as_placeholder: true %>
    <%= f.submit 'Sign In',class: "btn btn-primary text-white w-100" %>
  </div>
<% end %>
