<%= bootstrap_form_with(model: [ @trip, @note], 
                        inline_error: false,
                        label_errors:true) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <div class="my-2">
    <%= f.text_area :body, label_as_placeholder: true, required: true %>

    <div class="d-flex flex-column">
      <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), 
        class: "btn btn-primary my-1 text-white", 
        style: "#{controller.action_name == 
                  'edit'? "wight: 100%" : "width: 80px"}" %>
      <% if controller.action_name == 'edit' %>
        <%= link_to 'Back', 'javascript:history.back()',
          class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>

<% end %> 
