<%= bootstrap_form_with(model: [ @trip, @note], 
                        inline_error: false,
                        label_errors:true) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <div class="my-2">
    <%= f.text_area :body, hide_label: true, placeholder: "Create a note..." %>

    <% if controller.action_name == 'edit' %>
      <%= f.check_box :completed %>
    <% end %>

    <div class="d-flex flex-column">
      <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), 
        class: "btn btn-primary my-1 text-white", 
        style: "#{controller.action_name == 
                  'edit'? "wight: 100%" : "width: 80px"}" %>


      <% if controller.action_name == 'edit' %>
        <%= button_to "Delete", trip_note_path(@trip, params[:id]), 
          method: :delete, class: "btn btn-outline-danger d-block0 w-100", 
          data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>

<% end %> 
