<div class="list-group-item list-group-item-action">
  <div class="row">
    <div class="col-9 col-sm-10">
      <p>
       <span class=""><%= note.body %></span>
       <small class="text-secondary d-block mt-1 border-top"><%= note.author.display_name %></small>
      </p>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to edit_trip_note_path(@trip.id, note.id),
        class: "me-2" do %>
        <%= image_tag "pencil-square.svg" %> 
      <% end %>
      <%= button_to trip_note_path(@trip, note.id), 
        method: :delete, 
        class: "text-info text-decoration-none nav-link", 
        data: { turbo_confirm: "Are you sure?" }, 
        form_class: "d-inline"  do %>
        <%= image_tag "x-lg.svg" %> 
      <% end %>
    </div>
  </div>
</div>

