<%= bootstrap_form_with(model: [ @trip, @itinerary_item, @comment], 
                        inline_error: false, label_errors:true) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <%= hidden_field_tag :date, params[:date] %>
  <div class="my-2">
    <%= f.text_field :body, label_as_placeholder: true, required: true %>
    <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), 
      class: "btn btn-primary text-white" %>
      <%= link_to 'Back', trip_itinerary_item_path(@trip, @itinerary_item),
        class: "btn btn-outline-secondary" %>
  </div>
<% end %> 
