<div class="container">
  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section>
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">Users</th>
          <th scope="col">Roles</th>
          <th scope="col" class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %> 
          <tr>
            <td><%= user.user.display_name %></td>
            <td><%=user.user_trip_role.role %></td>
            <td class="d-flex justify-content-end">
              <%= link_to edit_trip_user_trip_path(@trip, user) do %>
                <%= image_tag "pencil-square.svg", class: "mx-2", alt: "Edit" %> 
              <% end %>
              <%= button_to trip_user_trip_path(@trip, user), method: :delete, 
                class: "btn btn-link p-0", 
                form: { data: { turbo_confirm: "Are you sure?" } } do %>
                <%= image_tag "x-lg.svg", alt: "Delete" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </section>

</div>


