<%= bootstrap_form_with(model: user, inline_error: false, label_errors: true) do |f| %> 
  <%= f.alert_message "Please fix the errors below." %>
   <% if @token.present? %>
    <%= f.hidden_field :invite_token, value: @token %>
  <% end %>
  <div class="container my-2">
    <%= f.text_field :display_name, label_as_placeholder: true, required: true%>
    <%= f.text_field :email, label_as_placeholder: true, required: true%>
    <%= f.password_field :password, label_as_placeholder: true, required: true%>
    <%= f.password_field :password_confirmation, label_as_placeholder: true, required: true, label: "Confirm Password" %>
    <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), 
      class: "btn btn-primary" %>
</div>
<% end %>
