<%= bootstrap_form_with(url: login_path, scope: :user, inline_error: false, label_errors:true)  do |f| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= f.alert_message "Please fix the errors below." %>
  <div class="my-2">
    <%= f.email_field :email, placeholder: 'Email', label: 'Email', required: true %>
    <%= f.password_field :password, placeholder: 'Password', label: 'Password', required: true %>
    <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), class: "btn btn-success" %>
  </div>
<% end %>
