<section>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card mb-4 max-w-2xl">
        <div class="card-body text-center bg-light">
          <%= image_tag "male-avatar.png", style: "width: 150px;", class: "rounded-circle img-fluid mx-5" %>
          <h5 class="my-3"><%= @user.display_name  %></h5>
          <p class="text-muted mb-1"><%= @user.email  %></p>
          <div class="d-flex justify-content-center mb-2">
            <%= link_to "Edit Your Info", edit_user_path(@user),
                class: "btn btn-primary"%> 
              <%= button_to "Delete Account", @user, method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-outline-danger ms-1" %>
          </div>
        </div>
      </div>
</section>
