<section class="card mt-2 p-2 shadow mb-4 bg-body-light rounded">
  <div class="card-body row">
    <div class="col">
      <h1 class="card-title"><%= @trip.name.capitalize %></h1> 
      <p class="card-subtitle text-body-secondary mt-4">
      <%= image_tag "calendar.svg" %> <%= @trip.start_date.strftime("%m/%d") %> 
      <%= image_tag "calendar.svg" %> <%= @trip.end_date.strftime("%m/%d") %>
      </p> 
    </div>

    <div class="col d-flex align-items-end flex-column">
      <% if admin_for_trip?(@trip) %>
        <div class="d-flex justify-content-end">
          <%= link_to edit_trip_path(@trip, return_to: request.fullpath) do %>
            <%= image_tag "pencil-square.svg", class: "mx-2", alt: "Edit" %> 
          <% end %>
          <%= button_to trip_path(@trip), method: :delete, 
            class: "btn btn-link p-0", 
            form: { data: { turbo_confirm: "Are you sure?" } } do %>
            <%= image_tag "x-lg.svg", alt: "Delete" %>
          <% end %>
        </div>
      <% end %>

      <div class="mt-4">
        <%= link_to new_invite_path(trip_id: @trip), class: "d-flex text-decoration-none text-secondary" do %>
          <%= image_tag "person-plus.svg", class: "", style: "width: 25px;", alt: "Add" %> 
        <% end %>
      </div>
    </div>

  </div>
</section>
<nav class="navbar border-bottom text-black itinerary-nav">
  <ul class="navbar-nav me-auto mb-2 w-100 d-flex flex-row justify-content-around">
    <% navigation_items(@trip).each do |item| %>
      <li class="nav-item mx-1">
        <%= link_to item[:title], item[:path], 
          class: "nav-link fs-6 rounded text-center #{'text-primary' if current_page?(item[:path])}" %>
    </li>
  <% end %>
  </ul>
</nav>
