   <section class="card mt-2 p-2 shadow mb-4 bg-body-tertiary rounded">
    <div class="card-body row">
      <div class="col">
        <h1 class="card-title"><%= @trip.name %></h1> 
        <p class="card-subtitle text-body-secondary mt-4">
        <%= image_tag "calendar.svg" %> <%= @trip.start_date.strftime("%m/%d") %> 
        <%= image_tag "calendar.svg" %> <%= @trip.end_date.strftime("%m/%d") %>
        </p> 
      </div>

      <div class="col d-flex justify-content-end">
          <%= link_to edit_trip_path(@trip) do %>
            <%= image_tag "pencil-square.svg", class: "mx-2", alt: "Edit" %> 
          <% end %>
          <%= button_to trip_path(@trip), method: :delete, class: "btn btn-link p-0", form: { class: "d-inline", data: { turbo_confirm: "Are you sure?" } } do %>
            <%= image_tag "x-lg.svg", alt: "Delete" %>
          <% end %>
        <div class="row">
          <%= link_to new_invite_path(trip_id: @trip) do %>
            <%= image_tag "person-plus.svg", class: "mx-2", alt: "Edit" %> 
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
            <li class="nav-item mx-1"> 
              <%= link_to "Overview", trip_path(@trip), class: "nav-link" %>
            </li>
            <li class="nav-item mx-1">
              <%= link_to "Itinerary", trip_itinerary_items_path(@trip), class: "nav-link" %>
            </li>
            <li class="nav-item mx-1">
              <%= link_to "Expenses", trip_expenses_path(@trip), class: "nav-link" %>
            </li>
            <li class="nav-item mx-1">
              <%= link_to "My Debts", trip_debtors_path(@trip), class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 </section>
