<section class="card mt-2 p-2 shadow mb-4 bg-body-light rounded">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1 class="card-title"><%= @trip.name.capitalize %></h1> 
      </div>
      <div class="col d-flex align-items-end flex-column">
        <% if admin_for_trip?(@trip) %>
          <div class="d-flex justify-content-end">
            <%= link_to edit_trip_path(@trip, return_to: request.fullpath) do %>
              <%= image_tag "pencil-square.svg", class: "mx-2", alt: "Edit" %> 
            <% end %>
            <%= button_to trip_path(@trip), method: :delete, 
              class: "btn btn-link p-0", 
              form: { data: { turbo_confirm: "Are you sure?" } } do %>
              <%= image_tag "x-lg.svg", alt: "Delete" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-8 d-flex">
        <div class="card-subtitle text-body-secondary mt-3">
          <%= image_tag "calendar.svg" %> 
          <%= @trip.start_date.strftime("%m/%d") %> 
        </div>
        <div class="card-subtitle text-body-secondary mt-3 mx-2"> 
          <%= image_tag "calendar.svg" %> 
          <%= @trip.end_date.strftime("%m/%d") %>
        </div>
      </div>

      <div class="col d-flex justify-content-end align-items-center ">
        <%= link_to new_invite_path(trip_id: @trip)do %>
          <%= image_tag "person-plus.svg", 
            style: "width: 25px;", 
            alt: "Add",
            class: "me-2 mt-1"%> 
        <% end %>
        <% unless admin_for_trip?(@trip) %>
          <%= button_to trip_user_trip_path(@trip, current_user), 
            method: :delete, 
            class: "btn btn-link p-0", 
            form: { data: 
                    { turbo_confirm: "Are you sure you want to leave the trip?" } } do %>
            <%= image_tag "door-closed.svg",  
              style: "width: 20px;",
              alt: "Delete" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
</section>
<nav class="navbar border-bottom text-black itinerary-nav">
  <ul class="navbar-nav me-auto mb-2 w-100 d-flex flex-row justify-content-around">
    <% navigation_items(@trip).each do |item| %>
      <li class="nav-item mx-1">
        <%= link_to item[:title], item[:path], 
          class: "nav-link fs-6 rounded text-center #{'text-primary' if current_page?(item[:path])}" %>
    </li>
  <% end %>
  </ul>
</nav>
