<%= bootstrap_form_with(model: [ @trip, @itinerary_item || @trip.itinerary_items.build], 
                        inline_error: false, label_errors: true, 
                        data: { controller: "flatpicker"}) do |f| %> 

  <div data-trip-start="<%= @trip.start_date %>"data-trip-end="<%= @trip.end_date %>">
    <%= f.alert_message "Please fix the errors below." %>
    <div class="container my-2">
      <%= f.text_field :event_name, label_as_placeholder: true, required: true%>
      <%= f.text_field :address, label_as_placeholder: true, required: true%>

      <div class="d-flex flex-column">
        <!-- Start Time -->
        <div class="d-flex flex-column">
          <%= f.label :start_time, 'Start Time:', class: 'me-sm-2' %>
          <%= f.datetime_field :start_time, 
            class: 'start_time flatpicker-mobile datetime-pointer form-control', 
            required: true, 
            hide_label: true,
            type: 'text',
            autocomplete: 'off' %>
      </div>

      <!-- End Time -->
      <div class="d-flex flex-column">
        <%= f.label :end_time, 'End Time:', class:'me-sm-2' %>
        <%= f.datetime_field :end_time, 
          class: 'end_time flatpicker-mobile datetime-pointer form-control', 
          hide_label: true,
          required: true, 
          autocomplete: 'off' %>
      </div>
    </div>

      <%= f.select :item_type_id, @types, include_blank: "Select Category", 
        floating: true %>
      <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Add'), 
        class: "btn btn-primary text-white" %>
      <% if controller.action_name == 'edit' %>
        <%= link_to 'Back', 'javascript:history.back()',
          class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
<% end %>

