<%= form_with model: [ @trip, @trip.itinerary_items.build], data: { controller: "flatpicker"} do |form| %> 
  <div class="input-group mb-3 w-50">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="input-group mb-3 w-50">
    <%= form.label :start_time, class: "form-label" %>
    <%= form.datetime_field :start_time, class: "start_time", required: true %>
  </div>

  <div class="input-group mb-3 w-50">
    <%= form.label :end_time, class: "form-label" %>
    <%= form.datetime_field :end_time, class: "start_time", required: true %>
  </div>

  <%= form.submit "Submit", class: "btn btn-outline-secondary bg-secondary text-white" %>
<% end %> 
