<li class='list-group-item d-flex justify-content-between'>
  <div>
    <span class='me-2'><%= itinerary_item.start_time.strftime("%H:%M") %> - 
      <%= itinerary_item.end_time.strftime("%H:%M") %></span>
    <strong class='me-2'><%= itinerary_item.event_name %></strong>
    <div>
      <span class='me-2'><%= itinerary_item.address %></span>
    </div>
  </div>
  <span>
    <%= itinerary_item.creator.display_name %>
  </span>
</li>

