<div class="container">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <section>
    <div class="bg-body-tertiary p-2 mt-2">
      <%= render 'itinerary_items/form' %>
    </div>
  </section>

  <section>
    <% @date_range.each do |date| %>
      <div class="card my-3">
        <div class="card-body">
          <%= link_to trip_trip_day_path(@trip.id, date), class: "text-secondary" do %>
            <h3 class='card-title text-secondary'><%= date.strftime("%A, %B %d") %></h3>
          <% end %>
          <% itinerary_items = @trip.itinerary_by_day[date] %>
          <% if itinerary_items.present? %>
            <ul class='list-group list-group-flush'>
              <% itinerary_items.each do |itinerary_item| %>
                <li class='list-group-item d-flex justify-content-between'>
                  <div>
                    <span class='me-2'><%= itinerary_item.start_time.strftime("%H:%M") %> - <%= itinerary_item.end_time.strftime("%H:%M") %></span>
                    <strong class='me-2'><%= itinerary_item.event_name %></strong>
                    <div>
                      <span class='me-2'><%= itinerary_item.address %></span>
                    </div>
                  </div>
                  <span>
                    <%= itinerary_item.creator.first_name %>
                    <%= itinerary_item.creator.last_name %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-muted">No plans for this day.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</div>
