<div class="container pb-2 mt-3" style="max-width: 720px;">

  <%= render partial: 'shared/trip_itinerary_nav' %>

  <div class="p-3 card rounded-4 shadow-sm mt-2">
    <%= render partial: "item", locals: { item: @itinerary_item } %>
  </div>

  <div class="p-3 my-3 bg-light card rounded-4">

    <%# Votes %>
    <section>
      <div class="card-body">
        <h4 class="card-title mb-2 border-bottom">Votes</h4>
        
        <div style="min-height: 2.5rem" class="p-2">
          <h6 class="card-subtitle text-secondary border-bottom">Up Votes
            <span class="mx-2"><%= @up_votes.count%></span>
          </h6>
          <% @up_votes.each do |vote| %>
            <p class="my-2"><%= vote.user.display_name %></p>
          <% end %>
        </div>

        <div style="min-height: 2.5rem" class="p-2">
          <h6 class="card-subtitle text-secondary border-bottom" >Down Votes
            <span class="mx-2"><%= @down_votes.count%></span>
          </h6>
          <% @down_votes.each do |vote| %>
            <p class="my-2"><%= vote.user.display_name %></p>
          <% end %>
        </div>
      </div>
    </section>

    <%# comments %>

    <section>
      <div class="card-body">
        <h4 class="card-title border-bottom mb-2">Comments</h4>
        <% if @all_comments.present? %>
          <% @all_comments.each do |comment| %>
            <div class="list-group">
              <%= render partial: "comments/comment_card", locals: { trip: @trip, itinerary_item: @itinerary_item, comment: comment } %>
            </div>
          <% end %>
        <% else %>
          <p> No comments yet </p>
        <% end %>
      </div>
    </section>

    <%# conflicts %>

    <section>
      <div class="card-body">
        <h4 class="card-title border-bottom mb-2">Conflicts</h4>
        <div class="list-group mx-2">
          <% if @conflicting_items.present? %>
            <% @conflicting_items.each do |item| %>
              <%= render partial: 'conflicting_item', locals: { item: item } %>
            <% end %>
          <% else %>
            <p>No Conflicts</p>
          <% end %>
        </div>
      </div>
    </section>
    
  </div>
</div>

