<tr> 
  <th scope="row"></th>
  <td><%= expense.date.strftime('%b %d, %Y') %></td>
  <td onclick="window.location='<%= edit_trip_expense_path(@trip, expense) %>'" style="cursor: pointer;">
    <%= expense.name %>
  </td>
  <td>$ <%= expense.amount %></td>
  <td><%= expense.expense_category.name %></td>
  <td><%= expense.paid.to_s.capitalize %></td>
  <td>
    <%= button_to trip_expense_path(@trip.id, expense), 
      method: :delete, 
      class: "text-info text-decoration-none nav-link", 
      data: { turbo_confirm: "Are you sure?" }, 
      form_class: "d-inline"  do %>
      <%= image_tag "x-lg.svg" %> 
    <% end %>
  </td>
</tr>
