<%= bootstrap_form_with(model: [@trip, @expense || @trip.expenses.build ], 
                        inline_error: false, label_errors:true, 
                        data: { controller: "flatpicker"}) do |f| %>
  <div data-trip-start="<%= @trip.start_date %>" data-trip-end="<%= @trip.end_date %>">
    <%= f.alert_message "Please fix the errors below." %>
    <div class="my-2 ">

      <div class="row">
          <%= f.text_field :name, label_as_placeholder: true, required: true %>
      </div>

      <div class="row">
        <div class="col">
          <%= f.date_field :date, label_as_placeholder: true, required: true, class: "date_expense" %>
        </div>
        <div class="col">
          <%= f.number_field :amount, 
            prepend: "$",
            step: '0.01', 
            min: '0', 
            label_as_placeholder: 'Amount ($)', 
            required: true, 
            class: 'form-control',
            disabled: (controller.action_name == 'edit') %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.select :expense_category_id, @categories, 
            include_blank: "Select a Category", 
            hide_label: true, class: 'form-control' %>

          <%= f.check_box :paid %>
        </div>
        <div class="col">
          <%= bootstrap_fields_for :debtor do |df| %>
            <%= df.label :user_ids, 'Trip Members' %>
            <%= df.select :user_ids, 
              options_for_select(@debtors),
              {hide_label: true,},
              { multiple: true, 
                class: 'form-control',
                disabled: (controller.action_name == 'edit')} %>
            <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col" >
          <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create'), 
            class: "btn btn-secondary inline" %>
        </div>
      </div>

    </div>

  </div>
<% end %>

