<div class='container pb-2 mt-3' style="max-width: 720px;">
  <%= render partial: 'shared/trip_itinerary_nav' %>

  <div class="border-bottom debtor-link">
    <%= link_to 'View Debts', trip_debtors_path(@trip), class: "nav-link fs-4" %>
    <%= image_tag "arrow-right.svg", class:"mx-2" %> 
  </div>

  <section class="my-2 p-3">
    <div class="row">
      <h4 class='display-2 d-inline-block col-sm-12 col-md-8'>Expenses</h4>
      <div class="col-sm-12 col-md-4 d-flex justify-content-sm-center justify-content-md-end align-items-end">
        <%= link_to "Add Expense", new_trip_expense_path(@trip), 
          class: "btn btn-info text-white",
          style: "width: 150px; height: 40px;" %>
    </div>
    </div>
  </section>

 

  <section class='my-2'>
    <div class='p-3 bg-light card rounded-4 table-responsive'>
      <h4 class='card-title mb-3'>Expenses</h4>
      <% if @all_expenses.present? %>
        <%= render partial: 'table', locals: { expenses: @all_expenses } %>
      <% else %>
        <p>You haven't added any expense yet.</p>
      <% end %>
    </div>
  </section>
</div>
