<nav class="navbar fixed-top bg-white shadow-sm border border-bottom text-primary" 
  id="mainNav" 
  data-nav-footer-target="mainNav">

  <!-- Navbar brand/logo -->
  <%= link_to root_path, class: "navbar-brand fs-2 text-primary" do %>
    <span class="d-flex align-items-center">
      <%= image_tag("compass.svg", alt: "Brand logo", height: "30", class: "mt-1 mx-1") %>
      PathFindr
    </span>
  <% end %>

  <!-- Navbar toggler for mobile view -->
  <div class="dropdown mx-2">
    <button class="navbar-toggler rounded-5 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag "person-circle.svg", style: "height:20px;" %> 
      <span class="navbar-toggler-icon fs-5"></span>
    </button>

    <!-- Collapsible content for smaller screens -->
    <ul class="dropdown-menu dropdown-menu-end p-2">
      <% if user_signed_in? %>
        <li class="rounded-4">
          <%= link_to "Your Trips", trips_path, class: "nav-link p-1" %>
        </li>
        <li class="rounded-4">
          <%= link_to "Your profile", user_path(current_user), class: "nav-link p-1" %>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="rounded-4">
          <%= button_to "Log out", logout_path, method: :delete, class: "nav-link p-1" %>
        </li>
      <% else %>
        <li class="rounded-3">
          <%= link_to "Log in", login_path, class: "nav-link p-1" %>
        </li>
        <li class="rounded-3">
          <%= link_to "Sign up", new_user_path, class: "nav-link p-1" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

