<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
    <title>PathFindr</title>
    <meta name="title" content="PathFindr" />
    <meta name="description" content="Discover the joy of hassle-free travel planning with PathFindr. Our cutting-edge app simplifies your trip organization, offering a seamless, interactive platform for both solo and group adventures. Embrace the ease of collaborative travel planning and let PathFindr turn your travel dreams into reality." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="PathFindr" />
    <meta property="og:description" content="Discover the joy of hassle-free travel planning with PathFindr. Our cutting-edge app simplifies your trip organization, offering a seamless, interactive platform for both solo and group adventures. Embrace the ease of collaborative travel planning and let PathFindr turn your travel dreams into reality." />
    <meta property="og:image" content="<%= image_url('meta-tag-image1.png') %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= request.original_url %>" />
    <meta property="twitter:title" content="PathFindr" />
    <meta property="twitter:description" content="Discover the joy of hassle-free travel planning with PathFindr. Our cutting-edge app simplifies your trip organization, offering a seamless, interactive platform for both solo and group adventures. Embrace the ease of collaborative travel planning and let PathFindr turn your travel dreams into reality." />
    <meta property="twitter:image" content="<%= image_url('meta-tag-image1.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body data-controller="nav-footer" >
    <div data-nav-footer-target="topSpacer"></div>
    <%= render "layouts/navbar" %>

    <%# Development %>

    <%# <div class="position-fixed" style="top: 20px; left: 40%; z-index: 1030;"> %>
      <%# <p ><%= "#{controller_name}##{action_name}"%>
      <%# </div> %>

    <%# Alerts %>

    <% flash.each do |key, value| %>
      <%= render "shared/flash" %>
    <% end %>

    <div class="d-flex flex-column flex-grow-1">
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>

    <div class="itinerary-footer">
      <% if render_trip_itinerary_footer? %>
        <%= render partial: 'shared/trip_itinerary_footer' %>
      <% else %>
        <div data-nav-footer-target="mainFooter"></div>
      <% end %>
    </div>

    <div data-nav-footer-target="bottomSpacer"></div>

  </body>
</html>
