<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body data-controller="nav-footer" >
    <div data-nav-footer-target="topSpacer"></div>
    <%= render "layouts/navbar" %>

      <div class="position-fixed" style="top: 20px; left: 40%; z-index: 1030;">
        <p ><%= "#{controller_name}##{action_name}" %></p>
      </div>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" 
          aria-label="Close"></button>
        </div>
      <% end %>

      <div class="d-flex flex-column flex-grow-1">
        <%= yield %>
        <%= render partial: 'shared/footer' %>
      </div>

    <div class="itinerary-footer">
      <% if render_trip_itinerary_footer? %>
        <%= render partial: 'shared/trip_itinerary_footer' %>
      <% else %>
        <div data-nav-footer-target="mainFooter"></div>
      <% end %>
    </div>
    <div data-nav-footer-target="bottomSpacer"></div>
  </body>
</html>
