<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="position-relative">
  <%= render "layouts/navbar" %>
  <div class="position-absolute" style="top: 70px; z-index: 1030;">
    <p ><%= "#{controller_name}##{action_name}" %></p>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>" style="top: 80px; z-index: 1030;"><%= message %></div>
    <% end %>
  </div>

  <div style="margin-top: 65px">
  <%= yield %>
  </div>
  <%= render partial: 'shared/trip_itinerary_footer' if render_trip_itinerary_footer? %>
</body>
</body>
</html>
